@model CanteenManagement.Models.Beverages
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/CSS/GetAllSouthIndian.css" rel="stylesheet" />
    <link href="~/CSS/Panelstyle.css" rel="stylesheet" />
</head>
<br />
<br />
<br />
<br />
<br />
<body>
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default animate__animated animate__zoomIn">
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <center>
                            <h1><strong>Edit Item</strong></h1>
                        </center>
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.itemname, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.itemname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.itemname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-8">
                                    <input type="submit" value="Update" class="btn btn-block btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="animate__animated animate__fadeInLeft">
                <span class="glyphicon glyphicon-backward text-primary"></span> @Html.ActionLink("Back", "GetAllBeverages", null, new { style = "text-decoration:none;", @class = "back" })
            </div>
        </div>
    </div>
</body>
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}